<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../public/admin_assets/assets/css/cropper.min.css" rel="stylesheet">
    <link href="../../public/admin_assets/assets/css/cropper.css" rel="stylesheet">
    <script src="../../public/admin_assets/assets/js/cropper.js"></script>
    <script src="../../public/admin_assets/assets/js/cropper.esm.js"></script>
    <script src="../../public/admin_assets/assets/js/cropper.min.js"></script>
    <script src="../../public/admin_assets/assets/js/cropper.common.js"></script>
</head>
<body>
   <div class="main-container">
    <div class="img-container">
        <img src="../../public/user_assets/img/i2.jpg" alt="" id="image" style="height: 150px; width: 150x;">
    </div>
    <button id="btn-crop">crop</button>
    <div class="cropped-container">
        <img src="" alt="" id="output" style="height: 100px; width: 100px;">
    </div>
   </div> 
   <script src="../../public/admin_assets/assets/js/crop.js"></script>
</body>
</html>