<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #cfcff1; /* Bootstrap's alert-danger background color */
            color: #ce2f3f; /* Bootstrap's alert-danger text color */
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .error-container {
            text-align: center;
        }

        .error-heading {
            font-size: 5rem;
            margin-bottom: 20px;
        }

        .error-message {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .home-link {
            font-size: 1.2rem;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1 class="error-heading">404</h1>
        <p class="error-message">Page Not Found</p>
        <p class="home-link">Go back to <a href="/">Home</a></p>
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap JavaScript features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
